.user-story-header {
    display: grid;
    align-items: center;
    grid-template-columns: 280px 1fr 130px;
    grid-template-areas: ". dimensions actions";
    grid-template-rows: 60px;
    gap: 15px 10px;
    padding: 0 10px;
    background-color: #ccc;
    &__estimate-dimensions {
        grid-area: "dimensions";
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    &__actions {
        grid-area: "actions";
    }
}